.venv/
__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
*.egg-info/
.ipynb_checkpoints/

data/raw/*
data/cache/*
data/processed/*
*.pkl
*.zip
!data/raw/.gitkeep
!data/cache/.gitkeep
!data/processed/.gitkeep
